:root{
  /*cursor*/
  --cursor: url('./cursor.png'),auto;
  --cursor-pointer:url('./cursor-pointer.png'),auto;

  /*bg*/
  --static: url('./static.png');
  --bg: url('./bg2.png');

  /*sizes*/
  --link-bttn-h-w:40px;
  --connect-div-gap:30px;
  --page-comp-gap:60px;
  --page-comp-gap-l:180px;

  --main-padding:40px;

  --site-min-width:290px;



  /*font-sizes*/
  --font-size-xxs:1em;
  --font-size-xs:1.1em;
  --font-size-xs-1:1.3em;
  --font-size-s:2em;
  --font-size-m:2.5em;

  --font-size-l:4.5em;

  --font-size-xl:6.5em;
  --font-size-xl-1:8.5em;
  --font-size-xl-2:10em;
  --font-size-xl-3: 13em;

  --font-size-xxl:16.5em;
  --font-size-xxl-2:14em;

  --font-size-xxxl:22em;

  /*colors*/
  --secondary-color:#7D8E38;
  --primary-color:#161616;
  --tertiary-color:#4F4F4F;

  --accent-color-1:#A3A3A3;
  --accent-color-2:#343434;
 
  --misc-color:#00000079;
  --misc-color-1:#E0E0E0;

  --transition-1: all 300ms linear;
}


*::-webkit-scrollbar {
  width: 8px; 
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #f0f0f0; 
}

*::-webkit-scrollbar-thumb {
  background:#808080;
  border-radius: 4px;
}

.sr-only{
  display:none;
}

*{
  scrollbar-width: thin;
  scrollbar-color: var(--misc-color);
}

a:hover{
  cursor: var(--cursor-pointer);
}

a, span, button, div{
  transition: color 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

div,button{
  transition: background-color 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

svg{
  transition: fill 0.6s cubic-bezier(0.23, 1, 0.320, 1) ;
}

svg path{
  transition: fill 0.6s cubic-bezier(0.23, 1, 0.320, 1) ;
}


body{
  background-color: var(--primary-color);
  font-size:14px;
  cursor: var(--cursor);
}

.no-scroll{
  overflow: hidden;
}

::-moz-selection{
   color: var(--secondary-color);
  background-color: var(--misc-color)
}
::selection{
  color: var(--secondary-color);
  background-color: var(--misc-color)
}
.font1{
  font-family: 'Lexend';
  font-weight: 200;
}

.bold-font{
  font-weight:700 ;
}

.size-xs{
  font-size: var(--font-size-xs);
}

.scroller{
  height: fit-content;
  position: fixed;
  right: -20px;
  top:50%;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px;
  z-index: 0;
  opacity: 0.2;
}

.scroller span{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-xs);
  color:white
}
.scroller svg path{
  stroke:white;
}

.page{
  margin: auto;
  position: relative;
  display:flex;
  align-items: center;
  justify-content:flex-start;
  flex-direction: column;
  height:100vh;
  min-height: 680px;
  max-height: 1120px;
  width: 100%;
  min-width: var(--site-min-width);
  max-width: 1730px;
  padding:50px 90px 0px 90px;
  gap:var(--page-comp-gap);
  box-sizing:border-box;
}

.noise{
  z-index: 20;
  position:fixed;
  top:0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}
.noise-image{
  opacity: 20%;   
  height: 100%;
  width: 100%;
  min-width: var(--site-min-width);
  
}

.connect-footer-div{
  position:fixed;
  bottom: 0;
  left:0;
  display: flex;
  flex-direction: row;
  gap:20px;
}

.load-num{
  font-size: 80px;
  line-height: 100%;
  font-weight:bolder;
  position: absolute;
  bottom:80px;
}
.loading-main{
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px;
  width: 100%;
}
.ld-lg-div{
  height: 200px;
  width: 200px;
  position: relative;
}
.ld-lgo{
  position: absolute;
  top:-80px;
  height: 200px;
}
#loading{
  background-color:var(--primary-color);
  max-height: none;
  overflow: hidden;
}

.highlight{
  background:var(--secondary-color);
  color:var(--primary-color);
}

.connect-div{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:var(--connect-div-gap);

}

.link-bttn{
  width:fit-content;
  height:fit-content;
}

.link-bttn button{
  user-select: none;
  cursor: var(--cursor-pointer);
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 15px;
  gap: 10px;
  width: var(--link-bttn-h-w);
  height: var(--link-bttn-h-w);
  background: var(--secondary-color);
  border-radius: 32px;
}


/*
@media screen and (min-width:1750px) {
  body{
    font-size: 18px;
  }
}

@media screen and (min-width:2000px) {
  body{
    font-size: 20.6px;
  }
}

@media screen and (min-width:2200px) {
  body{
    font-size: 22px;
  }
}

@media screen and (min-width:2800px) {
  body{
    font-size: 26px;
  }
}

@media screen and (min-width:3000px) {
  body{
    font-size: 30px;
  }
}

@media screen and (min-width:3400px) {
  body{
    font-size: 32px;
  }
} */

@media screen and (min-width:1700px) {
  body{
    font-size: 16px;
  }  
}
@media screen and (min-height:1050px) {
  .page{
    gap:var(--page-comp-gap-l)
  } 
}

@media screen and (max-width:1000px) {
  body{
    font-size:12px;
  }
}

@media screen and (max-width:930px) {
  body{
    font-size:10px
  }
}

@media screen and (max-width:890px) {
  .page{
    padding: 50px 50px 0px 50px;
  }
}

@media screen and (max-width:790px) {
  body{
    font-size: 9px;
  }
}

@media screen and (max-width:650px) {
  .page{
    height: 100svh;
  }
  .scroller svg{
    width:8px;
    height:12px;
  }
}


@media screen and (max-width:570px) {
  .page{
    padding: 20px 20px 0px 20px;
  }
}




@media screen and (max-width:540px) {
  body{
    font-size: 8.5px;
  }
}


@media screen and (max-width:380px) {
  body{
    font-size: 7.5px;
  }
}