.home-nav-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home-nav-div h2{
    margin: 0;
    user-select: none;
    cursor:var(--cursor-pointer);
    font-size: var(--font-size-xl);
    font-weight: 400;
    line-height: 90%;
    color: var(--tertiary-color);
    transition: var(--transition-1);
    
}

.home-nav-div h2:hover{
    color:var(--secondary-color)
}


@media screen and (max-width:650px) {
   .home-nav-div span{
        font-size: var(--font-size-xl-2);
   }
  }

  @media screen and (max-width:485px) {
    .home-nav-div span{
         font-size: var(--font-size-xl-1);
    }
    .home-nav-div{
        gap:10px;
    }
   }

   @media screen and (max-width:408px) {
    .home-nav-div span{
        font-size: var(--font-size-xl);
    }
}

@media screen and (max-width:380px) {
    .home-nav-div{
        gap:1px;
    }
  }
