  .burger-menu-div{
    
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: center;
  }
  
  .burger-menu-div button svg{
    user-select: none;
  }
  .burger-menu-div button{
    user-select: none;
  }

  .menu {
    user-select: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }
  .line {
    
    fill: none;
    stroke: var(--secondary-color);
    stroke-width: 8;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
   
  }
  .line2 {
    stroke-dasharray: 60 60;
    
  }
  .line3 {
    stroke-dasharray: 60 207;
    
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    ;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
   
  }
  