
.entity{
    position: relative;
    width:1015px;
    height:846px;
    margin-top: 0vw;
    margin-left: 2vw;
}
.entity-div{
    cursor: var(--cursor-pointer);
    position: absolute;
    width: 33vw;
    height: 34vw;
    left: 2%;
    top: 5%;
}

#other-half{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1) rotate(35deg);
    left: 34.5%;
    top: -6.94%;
}

.ob-0{
    fill:var(--accent-color-1);
    fill-opacity:0.7;
    position:absolute;
    z-index: 3;
    left: 14.26%;
    right: 10.75%;
    top: 11.23%;
    bottom: -11.23%;

}
.ob-1{
    fill:var(--secondary-color);
    fill-opacity:0.7;
    position:absolute;
    z-index: 2;
    left: 7.81%;
    right: 12.4%;
    top: 25.42%;
    bottom: -25.42%;
}
.ob-2{
    fill:var(--secondary-color);
    fill-opacity:0.6;
    position:absolute;
    z-index: 1;
    left: 0.37%;
    right: 15.31%;
    top: 36.73%;
    bottom: -36.73%;
    
}
.ob-3{
    fill:var(--secondary-color);
    fill-opacity:0.4;
    position:absolute;
    z-index: 0;
    left: -5.26%;
    right: 13.64%;
    top: 46.94%;
    bottom: -46.94%;
}


@media screen and (min-width:1510px) {
    .entity{
        position: relative;
        width:900px;
        height:846px;
        margin-top: 1vw;
        margin-left: 2vw;
    }
   
.entity-div{
    position: absolute;
    width: 535px;
    height: 560px;
    top:0px;
    left:-60px;
    }
#other-half{
    top:-100px;
}


}

@media screen and (max-width:1460px) {
    .entity{
        width: 85%;
        height:50%
    }
}
@media screen and (max-width:1200px) {
    .entity{
        width:90%;
    }
}

@media screen and (max-width:1000px) {
    .entity{
        width:80%;
    }
}
@media screen and (max-width:900px) {
    .entity{
        width:82%;
    }
}
@media screen and (max-width:760px) {
    .entity{
        width:76%;
    }
}
@media screen and (max-width:570px) {
    .entity{
        width:76%;
        height:210px;
    }
}
@media screen and (max-width:570px) {
    .entity{
        width:76%;
        height:210px;
    }
}@media screen and (max-width:330px) {
    .entity{
        width:210px;
        height:210px;
    }
    .entity-div{
        width: 110px;
        height: 90px;
    }

}
